PORT=8080
SPRING_DATASOURCE_URL=jdbc:mysql://localhost:3306/oxmanit
SPRING_DATASOURCE_USERNAME=root
SPRING_DATASOURCE_PASSWORD=
SPRING_MAIL_USERNAME=correo-verificado@ejemplo.com
ADMIN_EMAIL=administrador@ejemplo.com
BREVO_API_KEY=
WHATSAPP_ACCESS_TOKEN=
WHATSAPP_PHONE_ID=
WHATSAPP_VERIFY_TOKEN=
META_GRAPH_API_VERSION=v25.0

